In [20]:
import pandas as pd

In [21]:
df_sio = pd.read_csv('data/scripps_pier_20151110.csv')

In [22]:
df_sio.head()

              Date  chl (ug/L)  pres (dbar)  sal (PSU)  temp (C)
0  11/10/2015 1:42      22.307        3.712     33.199     19.95
1  11/10/2015 1:35      22.311        3.588     33.201     19.94
2  11/10/2015 1:29      22.305        3.541     33.200     19.95
3  11/10/2015 1:23      22.323        3.463     33.200     19.95
4  11/10/2015 1:17      22.316        3.471     33.199     19.95